body{
  margin:0px;
  background-color: black;
  color: white;
}
.theme-color{
  color: violet;
}
.theme-bg{
  background-color: violet;
}
.hv-10{
  height: 10vh;
}
.hv-20{
  height: 20vh;
}
.hv-90{
  height: 10vh;
}
.hv-90{
  height: 10vh;
}
.hv-80{
  height: 10vh;
}
.vw-10{
  width:10vw;
}
.vw-20{
  width:120vw;
}
.vw-90{

  width:90vw;
}
.vw-80{
  width:80vw;
}
.flex{
  display: flex;
}