/* Styles for the user details form */
.user-details-form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width:100%
  }
  
  .user-details-form h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .user-details-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .user-details-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .user-details-form button {
    padding: 10px 20px;
    background: color #333;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .user-details-form button:hover {
    background-color:#333;
  }
  